
:root {
  --primary: #f04770;
  --primary-rgb: 240, 71, 112;
  --secondary: #8c939f;
  --violet: #582be7;

  --bs-primary: var(--primary);
  --bs-primary-rgb: var(--primary-rgb);

  --bs-success: #06d7a0;
  --bs-success-rgb: 6, 215, 160;

  font-size: 14px;
}

.sidebar-left{
  background-color: #fafafa;
}

.profile {
  margin-bottom: 2rem;
}

.profile img {
  width:70px;
  height: 70px;
  flex-shrink: 0;
}

.profile .profile-details {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-details .profile-description{
  font-size: 0.8em;
}

.sidebar-header {
  padding: 0.25rem 1.75rem;
  font-weight: 500;
  color: #5e5e5e;
}

#sidebar-nav .nav-item .nav-link {
  padding: 1rem 1.75rem;
  color: #9aa1b4;
  display: flex;
  align-items: center;
  position: relative;
}

#sidebar-nav .nav-item .nav-link::before {
  content: '';
  height: 100%;
  width: 5px;
  background-color: var(--primary);
  display: none;
  position: absolute;
  left: 0;
  border-radius: 0 4px 4px 0;
}

#sidebar-nav .nav-item .nav-link .bi {
  margin-right: 0.75rem;
}
#sidebar-nav .nav-item .nav-link .count-badge{
  margin-left: auto;
  background-color: var(--primary);
  color: #fff;
  padding: 0 5px;
  font-size: 0.9em;
  border-radius: 0 4px 4px 4px;
}

#sidebar-nav .nav-item .nav-link.active,
#sidebar-nav .nav-item .nav-link:hover,
#sidebar-nav .nav-item .nav-link:focus
{
  color: var(--primary);
}

#sidebar-nav .nav-item .nav-link.active::before,
#sidebar-nav .nav-item .nav-link:hover::before,
#sidebar-nav .nav-item .nav-link:focus::before {
  display: block;
}


body {
  display: flex;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-violet {
  color: var(--violet) !important;
}

.bg-violet {
  background-color: var(--violet) !important;
  color: #fff;
}

.text-blue {
  color: #307dde !important;
}

.fw-medium {
  font-weight: 600;
}

.wrapper .custom-card {
  border-radius: 12px;
  padding: 1.75rem;
  color: #fff;
  font-weight: 600;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .custom-card .card-header {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.wrapper .custom-card .card-text {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.wrapper .custom-card .card-header .card-icon {
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 1.2em;
}

.wrapper .custom-card .image-list {
  margin-top: auto;
}

.wrapper .custom-card.card-left {
  background: rgb(240, 71, 112);
  background: linear-gradient(45deg, rgba(240, 71, 112, 1) 0%, rgba(242, 109, 140, 1) 100%);
  box-shadow: 2px 2px 20px rgb(240 71 112 / 75%);
}

.wrapper .custom-card.card-right {
  background: rgb(190, 171, 238);
  background: linear-gradient(45deg, rgba(190, 171, 238, 1) 0%, rgba(172, 152, 239, 1) 100%);
  box-shadow: 2px 2px 20px rgb(190 171 238 / 75%);
}

.image-list {
  white-space: nowrap;
}

.image-list img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  object-position: center;
  border: 2px solid #fff;
  border-radius: 40px;
}

.image-list img:not(:first-child) {
  margin-left: -12px;
}

.wrapper .btn {
  font-weight: 600;
  font-size: 0.95rem;
  padding: 0.5rem 1.25rem;
}

#task-nav {
  border-bottom: 2px solid #eee;
}

#task-nav .nav-item .nav-link {
  color: var(--secondary);
  font-size: 1.05rem;
  padding: 0.75rem 1.25rem;
  position: relative;
  transition: color 0.25s;
  font-weight: 600;
}

#task-nav .nav-item .nav-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.25s;
}

#task-nav .nav-item .nav-link.active,
#task-nav .nav-item .nav-link:hover {
  color: var(--violet);
}

#task-nav .nav-item .nav-link.active::after,
#task-nav .nav-item .nav-link:hover::after {
  background-color: var(--violet);
}

.task {
  display: flex;
  margin-bottom: 1.5rem;
}

.task .task-icon {
  flex: 0 0 auto;
  color: #fff;
  border-radius: 12px;
  width: 45.5px;
  height: 45.5px;
  text-align: center;
  padding: 8px;
}

.fs-6 {
  font-size: 1.15rem !important;
}

.sidebar-right .call-card {
  background-color: var(--bs-success);
  color: #fff;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 20px rgb(var(--bs-success-rgb), 0.75);
}

.sidebar-right .call-card .call-time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  font-weight: 600;
}

.form-control {
  border: 0;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #f5f6f8;
}

.collaborator {
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  background: #eee;
  font-size: 0.9rem;
  margin-right: 6px;
}

.collaborator.violet {
  color: var(--violet);
  background-color: #eee9fc;
}

.collaborator.success {
  color: var(--bs-success);
  background-color: #e4fbf6;
}

.collaborator .collaborator-image {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.collaborator .btn {
  padding: 0px 4px;
}

.sidebar-right .btn.emoticon {
  padding: 2px;
  font-size: 1.4rem;
}



/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
  border: 0px none #ffffff;
}
  